#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 30px;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
}

select {
    font-size: 1.2em;
    margin: 10px;
}

.note-cards {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    .note-card {
        /* flex-grow: 1; */
    }
}

.small-button {
    background-color: goldenrod;
    margin: 5px;
}

.big-button {
    font-size: 2em;
    background-color: green;
}

.page-buttons {
    button {
        background-color: #333;
        margin: 5px;
    }
    button.selected {
        background-color: #666;
    }
}
