.note-card {
    /* margin: 20px; */
    /* font-size: 5em; */
    /* width: 150px;
    height: 150px; */
    /* height: 50px; */
    margin: 5px;
    font-size: 1.5em;
}

.note-card-heard {
    background-color: rgba(
        calc((1 - (var(--detune) * var(--detune) / var(--detune) / 50)) * 50),
        128,
        0,
        1
    );
}
